@font-face {
    font-family: "Heading Now 44";
    src: url("@shared/fonts/HeadingNow/Heading-Now-44-Regular.ttf");
}

@font-face {
    font-family: "Heading Now 66";
    src: url("@shared/fonts/HeadingNow/Heading-Now-66-Bold.ttf");
}